---
layout: base
permalink: /index.html
title: 'YarnLab'
description: 'Drop-in space for all things yarn / fiber craft.'
blog:
  title: 'News'
  intro: "The latest from YarnLab."
---

<div class="wrapper">
  <header class="full | section spot-color-theme-primary">
    <div class="section__inner flow region">
      <h1 class="text-center text-theme-light">{{ title }}</h1>
    </div>
    {% svg "divider/yarn2", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Where fiber-crafts meet the history and future of data.</h2>
      <p>
        YarnLab, part of Stanford's <a href="https://cesta.stanford.edu">CESTA</a> digital humanities center on the 4th floor of Wallenberg, is a friendly drop-in space centered on yarn and other fiber-crafts. We celebrate the role of fiber-crafts in the history of technology (e.g. the Jacquard loom, punch-card knitting machines), and possible futures for endangered data with methods like <a href="https://textiledataviz.org">data visualization with textiles</a>.
      </p>
      <p>You don't have to work with data to come spend time at YarnLab! Bring your friends and your personal craft projects, and enjoy our supplies, materials, and comfy seating.</p>
    <p>YarnLab is available on weekdays for anyone to drop in during regular business hours. We'll have a limited number of staffed hours soon along with a fall workshop schedule!</p>
    <p>Questions? Email Quinn Daedal at qad@stanford.edu.</p>
    </div>
  </article>

  <section class="full | region">
    <!-- <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div> --!>
    </div>
  </section>
</div>
